<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.syssequence.template.mapper.TemplateMapper">
  <resultMap id="template" type="com.zl.sequence.domain.Template">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="temp" jdbcType="VARCHAR" property="temp" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zl.sequence.domain.Template">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template (id, `name`, `temp`, `length`,
      create_time, create_user, update_time,
      update_user)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{temp,jdbcType=VARCHAR}, #{length,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zl.sequence.domain.Template">
    update template
    set `name` = #{name,jdbcType=VARCHAR},
      `temp` = #{temp,jdbcType=VARCHAR},
      `length` = #{length,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="template">
    select id, `name`, `temp`, `length`, create_time, create_user, update_time,
    update_user
    from template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="template">
    select id, `name`, `temp`, `length`, create_time, create_user, update_time,
    update_user
    from template
  </select>

    <select id="select" parameterType="java.util.Map" resultMap="template">
        select * from template
      <where>
        <if test="id != null and id !=''">
          id= #{id}
        </if>
        <if test="name != null and name !=''">
          and name= #{name}
        </if>
        <if test="temp != null and temp !=''">
          and temp #{temp}
        </if>
      </where>
        order by id desc
    </select>

    <insert id="add" parameterType="com.zl.sequence.domain.Template">
        insert into template (
            id, name, temp, length, create_time, create_user, update_time, update_user
        ) VALUES (
            #{id}, #{name},#{temp},#{length},#{createTime},#{createUser},#{updateTime},#{updateUser}
        )
    </insert>
</mapper>
