<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.sysadminservice.smenu.mapper.SMenuMapper">
    <resultMap id="sMenu" type="com.zl.domain.SMenu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    </resultMap>
    <select id="selectSMenu" resultMap="sMenu" parameterType="java.lang.String">
        select
               id, name, path, file_path, parent_id
        from
             s_menu
        <where>
            <if test="parentId != null">
                parent_id = #{parentId}
            </if>
            <if test="parentId == null">
                parent_id is null
            </if>
        </where>


    </select>
</mapper>
