<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.sysadminservice.sdict.mapper.SdictMapper">
    <resultMap id="sdict" type="com.zl.domain.Sdict">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="cn_name" jdbcType="VARCHAR" property="cnName"/>
        <result column="en_name" jdbcType="VARCHAR" property="enName"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <select id="selectSdict" resultMap="sdict" parameterType="com.zl.domain.Sdict">
        select
            dict_type,
            cn_name,
            en_name,
            create_time,
            update_time
        from
            s_dict
        <where>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dictType != null">
                dict_type = #{dictType},
            </if>
            <if test="cnName != null">
                cn_name = #{cnName},
            </if>
            <if test="enName != null">
                en_name = #{enName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </where>
        order by id desc
    </select>
</mapper>
