<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.uua.mapper.SysUerMapper">
    <resultMap id="sysUser" type="com.zl.uua.domain.SysUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="realName" jdbcType="VARCHAR" property="real_name"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="phoneNo" jdbcType="VARCHAR" property="phone_no"/>
        <result column="certType" jdbcType="VARCHAR" property="cert_type"/>
        <result column="certNo" jdbcType="VARCHAR" property="cert_no"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="lastLoginTime" jdbcType="VARCHAR" property="last_login_time"/>
        <result column="errLoginTimes" jdbcType="VARCHAR" property="err_login_times"/>
        <result column="forbiddenLoginTime" jdbcType="VARCHAR" property="forbidden_login_time"/>
        <result column="forbiddenLoginPeriod" jdbcType="VARCHAR" property="forbidden_login_period"/>
        <result column="forbiddenReason" jdbcType="VARCHAR" property="forbidden_reason"/>
        <result column="lastModifyPwd" jdbcType="VARCHAR" property="last_modify_pwd"/>
    </resultMap>

    <select id="selectForLogin" parameterType="java.lang.String" resultMap="sysUser">
        select id, username, password, phone_no, real_name,sex, phone_no,cert_type,cert_no,birthday,last_login_time,err_login_times,
               forbidden_login_period,forbidden_login_time,forbidden_reason,last_modify_pwd
        from sys_user
        where username = #{username} limit 1
    </select>

    <insert id="addSysUSer" parameterType="com.zl.uua.domain.SysUser">
        insert into sys_user (id,
                            username,
                            password,
                            real_name,
                            sex,
                            phone_no,
                            cert_type,
                            cert_no,
                            birthday,
                            last_login_time,
                            err_login_times,
                            forbidden_login_time,
                            forbidden_login_period,
                            forbidden_reason,
                            last_modify_pwd)
        values (
                   #{id},
                   #{username},
                   #{password},
                   #{realName},
                   #{sex},
                   #{phoneNo},
                   #{certType},
                   #{certNo},
                   #{birthday},
                   #{lastLoginTime},
                   #{errLoginTimes},
                   #{forbiddenLoginTime},
                   #{forbiddenLoginPeriod},
                   #{forbiddenReason},
                   #{lastModifyPwd}
               )
    </insert>
</mapper>
