@import "../../node_modules/bootstrap/scss/bootstrap";
// Default variable overrides
//$body-bg: $teal-300;
$body-color: $pink-500;
$primary: $pink-400;
$danger: #ff4136;
$table-border-color: #000000;

$theme-colors: (
        "primary": $primary,
        "danger": $danger
);

.table-allbordered {
  border: black solid 1px;
}
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/tables";

.menu{
  background-color: $body-color;
  height: 100%;
  width: 150px;
}



